<h2>Resend confirmation instructions</h2>

<%= bootstrap_flash%>
  <div class="col-md-3">
  
    <%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      
    <div class="form-inputs">
      <%= f.input :login, required: false, autofocus: true, label: 'Email/Username' %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Resend instructions" %>
    </div>
  <% end %>
  <%= render "users/shared/links" %>
</div>



