<%= bootstrap_flash %>

<h1>
  <% if @user == current_user %>
    <h2>My Lists </h2>
  <% else %>
    <h2> <%= @user.username %>'s Lists </h2>
  <% end %>
</h1>

<% if @lists.length == 0 %>
  <% if @user == current_user %>
    <p>You have no lists. <%= link_to 'Create one', new_user_list_path(current_user.username)%> now!</p>
  <% else %>
    <p>This user has no public lists.</p>
  <% end %>
<% else %>

  <% if @user != current_user && @public_lists_count == 0 %>
      <p>This user has no public lists.</p>
  <% else %>
  <%= link_to 'New list', new_user_list_path(current_user.username), class: "btn btn-primary"%>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <% if @user == current_user %>
            <th>Visibility</th>
          <% end %>
        </tr>
      </thead>

      <% @lists.each do |list| %>
        <% unless @user != current_user && list.private == true %>
          <tr>
            <td><%= list.name %></td>
            <td><%= "#{list.description[0..35]}..." %></td>
            <% if @user == current_user %>
              <td>
                <% if list.private == true %>
                  Private
                <% else %>
                  Public
                <% end %>
              </td>
            <% end %>
            <td><%= link_to 'Show', user_list_path(@user.username, list), :class => 'btn btn-primary' %>
            <% if @user == current_user %>
              <%= link_to 'Edit', edit_user_list_path(current_user.username, list), :method => :get, :class => 'btn btn-primary' %>
              <%= link_to 'Delete', 
              user_list_path(current_user.username, list), :method => :delete,
                :data => { :confirm => "Press Ok to Delete the List \"#{list.name}\"."},
                :class => 'btn btn-danger' %></td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </table>
    <%= paginate @lists, :theme => 'twitter-bootstrap-3'%>
  <% end %>
 
<% end %>


