<%= link_to 'New list', new_user_list_path(current_user.username), :class => 'btn btn-primary' %>

<h1>My Lists</h1>

<% unless @lists %>
  <p>You have no lists. Create one now!</p>
<% else %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>

    <% @lists.each do |list| %>
      <tr>
        <td><%= list.name %></td>
        <td><%= list.description %></td>
        <td><%= link_to 'Show', user_list_path(current_user.username, list), :class => 'btn btn-primary' %></td>
        <td><%= link_to 'Edit', edit_user_list_path(current_user.username, list), :class => 'btn btn-primary' %></td>
        <td><%= link_to 'Delete', 
        user_list_path(current_user.username, list), :method => :delete,
          :data => { :confirm => "Press Ok to Delete the List \"#{list.name}\"."},
          :class => 'btn btn-danger' %>
      </tr>
    <% end %>
  </table>
  <%= paginate @lists, :theme => 'twitter-bootstrap'%>
<% end %>


