<%= link_to @user == current_user ? "My lists" : "All lists", user_lists_path(@user.username), :class => 'btn btn-primary' %>

<h1><%= list.name %></h1>

<p><%= list.description %></p>

<ol>
	<% @movies.each do |movie| %>
		<li>
			<%= movie.title %>
			<% if @user == current_user %>
				<%= link_to "Remove", 
				    remove_user_list_movie_path(movie_id: movie.id), :method => :delete,
				    :data => { :confirm => "Remove?"},
				    :class => "btn btn-danger" %>
			<% end %>
		</li>
	<% end %>
</ol>

<%= paginate @movies, theme: "twitter-bootstrap" %>