<% if @exists == false || (@user != current_user && list.private == true) %>
	<h1>Sorry!</h1>
	<p>The page does not exist</p>
<% else %>

	<%= link_to @user == current_user ? "My lists" : "All lists", user_lists_path(@user.username), :class => 'btn btn-primary' %>

	<h1><%= list.name %></h1>

	<p><%= list.description %></p>
	<% if @user == current_user %>
		<% if list.private == true %>
			<p>This list is <b>private</b>.<p>
		<% else %>
			<p>This list is <b>public</b>.<p>
		<% end %>

		<%= link_to "Add movie", user_list_list_movie_pairs_path(current_user.username, list), class: "btn btn-primary" %>
	<% end %>

	<table class="table table-striped">
		<% @movies.each do |movie| %>
			<tr>
				<td><%= image_tag(movie.thumbnail_poster_link) %></td>
				<td><%= link_to "#{movie.title} (#{movie.year})", movie_path(:movie_id => movie.rotten_tomatoes_id, :id => 'show') %></td>
				<% if @user == current_user %>
					<td><%= link_to "Remove", 
					    remove_user_list_movie_path(movie_id: movie.id), :method => :delete,
					    :data => { :confirm => "Remove?"},
					    :class => "btn btn-danger" %></td>
				<% end %>
			</tr>
		<% end %>
	</table>

	<%= paginate @movies, theme: "twitter-bootstrap" %>
<% end %>