<!-- Aici sunt toate informatiile pe care le poti obtine de la api-->

<table class="header-informations">
  <tr>
    <td class="poster"> <%= image_tag(@movie['posters']['detailed']) %> </td>
    <td class="important-informations">
	    <h1><%= @movie['title'] %></h1>
	    <h2><%= @movie['year'] %></h2>	
    </td>
  </tr>
</table>	

<table>
  <tr>
	<td><strong>Genres</td>
	<td><br><% @movie['genres'].each do |genre| %>
    <li><%= genre %></li>
  <% end %>
</td>
  </tr>
  <tr>
    <td><strong>User Rating</strong><br></td>
    <td><%= @movie['mpaa_rating'] %><br></td>
  </tr>
  <tr>
	 <td><strong>Runtime</strong><br></td>
	 <td><%= @movie['runtime'] %><br></td>
  </tr>
  <tr>
	 <td><strong>Critics' opinion</strong><br></td>
	 <td><%= @movie['critics_consensus'] %><br></td>
  </tr>
  <tr>
	 <td><strong>Release dates</strong><br></td>
	 <td><ul><br><li>Theater = <%= @movie['release_dates']['theater'] %></li>
	 <% if @movie['release_dates']['dvd'] %> <!-- adica daca exista campul 'dvd' (nu este null) --> 
	   <li>DVD = <%= @movie['release_dates']['dvd'] %><br></li> 
	 <% end %>
	 </ul></td>
  </tr>
</table>

<!-- This part is for movie reviews -->
<% if @reviews.length != 0 %>
  <% if user_signed_in? %>
    <% if @current_user_review %>
      <div class="well" >
        <h4>Your Review</h4>
        <p>Rating: <%= @current_user_review.rating %></p>
        <p>Review: <%= @current_user_review.comment %></p>
        <%= link_to 'Edit ' + movie_title + '\'s review', edit_user_review_path(current_user.username, @current_user_review.id), :method => :get , :class => 'btn btn-primary' %>
      </div>
      <% else %>
        <%= link_to 'Review ' + movie_title, new_user_review_path(current_user.username, @existent_movie.id), :method => :get, :class => 'btn btn-primary' %>
    <% end %>
  <% end %>
  <% if @public_reviews_count != 0 %>
    <h2> User Reviews </h2>
    <table>
      <thead>
        <tr>
          <th>Username</th>
          <th>Rating</th>
          <th>Review</th>
        </tr>
      </thead>
      <% @reviews.each do |review| %>
        <% if user_signed_in? == false or (user_signed_in? and review.user_id != current_user.id) %>
          <% if review.private == false %>
            <tr>
              <td> <%= User.find(review.user_id).username %> </td>
              <td> <%= review.rating %> </td>
              <td> <%= review.comment %> </td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    </table>
  <% else %>
    <h2> User Reviews </h2>
    <% if user_signed_in? and @current_user_review%>
      <p>There are no more public reviews for <%= movie_title %> !</p>
    <% else %>
      <p>There are no public reviews for <%= movie_title %> !</p>
    <% end %>
  <% end %>
<% else %>
  <% if user_signed_in? %>
     <%= link_to 'Review ' + movie_title, new_user_review_path(current_user.username, @existent_movie.id), :method => :get, :class => 'btn btn-primary' %>
  <% end %>
  <h2> User Reviews </h2>
  <p>No reviews for this movie yet!</p>
  <p></p>
<% end %>

<!-- trailer -->
<!-- TODO => Refactor this code when we have time -->
<h2>Movie Trailer </h2>
<iframe id="player" type="text/html" width="640" height="390" src= <%= "http://www.youtube.com/embed/#{@youtube_trailer_id}" %> frameborder="0"></iframe>

<%
=begin
%>

<table>
   <% @reviews.each_with_index do |movieReview, index| %>
      <tr>
         <td><%= "Review no: #{index} ... " %></td>
      </tr>
      <tr>
         <td><%= movieReview.comment %></td>
      </tr>
   <% end %>
</table>

<%
=end
%>

<!--
Asta e structura normala a json-ului returnat de api-ul nostru pentru un film:
Exemplul in cauza este Noah 

Atentie!!! Nu trebuie sa se presupuna ca orice film 
va avea toate campurile de mai jos. Trebuiesc testate toate campurile asa cum
am dat exemplu mai jos

Pentru detalii despre json va rog cititi: http://www.json.org/
	Este doar o pagina si este foarte friendly explicata

{
   "id":771305170,
   "title":"Noah",
   "year":2014,
   "genres":[
      "Drama",
      "Classics"
   ],
   "mpaa_rating":"PG-13",
   "runtime":139,
   "critics_consensus":"With sweeping visuals grounded by strong performances in service of a timeless tale told on a human scale, Darren Aronofsky's Noah brings the Bible epic into the 21st century.",
   "release_dates":{
      "theater":"2014-03-28"
   },
   "ratings":{
      "critics_rating":"Certified Fresh",
      "critics_score":76,
      "audience_rating":"Spilled",
      "audience_score":47
   },
   "synopsis":"Russell Crowe stars as Noah in the film inspired by the epic story of courage, sacrifice and hope. Directed by visionary filmmaker Darren Aronofsky (c) Paramount",
   "posters":{
      "thumbnail":"http://content9.flixster.com/movie/11/17/69/11176923_mob.png",
      "profile":"http://content9.flixster.com/movie/11/17/69/11176923_pro.png",
      "detailed":"http://content9.flixster.com/movie/11/17/69/11176923_det.png",
      "original":"http://content9.flixster.com/movie/11/17/69/11176923_ori.png"
   },
   "abridged_cast":[
      {
         "name":"Russell Crowe",
         "id":"162652569",
         "characters":[
            "Noah"
         ]
      },
      {
         "name":"Jennifer Connelly",
         "id":"162652853",
         "characters":[
            "Naameh"
         ]
      },
      {
         "name":"Ray Winstone",
         "id":"162693523",
         "characters":[
            "Tubal Cain"
         ]
      },
      {
         "name":"Emma Watson",
         "id":"162655378",
         "characters":[
            "Il-la",
            "Ila"
         ]
      },
      {
         "name":"Anthony Hopkins",
         "id":"162653967",
         "characters":[
            "Methuselah"
         ]
      }
   ],
   "abridged_directors":[
      {
         "name":"Darren Aronofsky"
      }
   ],
   "studio":"Paramount Pictures",
   "alternate_ids":{
      "imdb":"1959490"
   },
   "links":{
      "self":"http://api.rottentomatoes.com/api/public/v1.0/movies/771305170.json",
      "alternate":"http://www.rottentomatoes.com/m/noah_2014/",
      "cast":"http://api.rottentomatoes.com/api/public/v1.0/movies/771305170/cast.json",
      "clips":"http://api.rottentomatoes.com/api/public/v1.0/movies/771305170/clips.json",
      "reviews":"http://api.rottentomatoes.com/api/public/v1.0/movies/771305170/reviews.json",
      "similar":"http://api.rottentomatoes.com/api/public/v1.0/movies/771305170/similar.json"
   }
}
-->
