<!-- Table with results from search query -->

  <% if @movies_part %>
    <table class="table">
      <% if @movies_part %>
    	  <% @movies_part.each do |movie| %>
    	    <tr>
    	      <td><%= image_tag(movie['posters']['thumbnail'], size: "61x91") %></td>
    	      <td>
              <strong><%= link_to movie['title'], movie_path(:movie_id => movie['id'], :id => 'show') %></strong>
            </td>
    	      <td><%= movie['year'] %></td>
            <td>
              <% if movie['synopsis'].length > 100 %>
    	          <%= movie['synopsis'].first(100) + ' ...' %>
              <% else %>
                <%= movie['synopsis'] %>
              <% end %>
            </td>
    	    </tr>
        <% end %>
    	<% end %>
    </table>
  <% else %>
    <p>No movie was found for the query "<%= params[:q] %>" ! </p>
  <% end %>

<!-- Table with results from box office query -->

<table class="table">
  <th>&nbsp;</th>
  <th>Title (Year) </th>

	<% @movies_box_office.each do |movie| %>
    <tr>
      <td><%= image_tag(movie.thumbnail_poster_link, size: "21x31") %></td>
      <td>
        <strong><%= link_to movie.title, movie_path(:movie_id => movie.rotten_tomatoes_id, :id => 'show') %></strong>
      </td>
    </tr>
	<% end %>
</table>

<!--
If you need more details about the informations you can take from the api please visit the links bellow 

box office: http://api.rottentomatoes.com/api/public/v1.0/lists/movies/box_office.json?apikey=haak3yvy8dsw4gfxu8vprvnv&limit=10
search: http://api.rottentomatoes.com/api/public/v1.0/movies.json?apikey=haak3yvy8dsw4gfxu8vprvnv&q=titanic&page_limit=25
-->