
  <%= bootstrap_flash%>
  <h2>Forgot your password?</h2>
  <div class="col-md-3"> 

    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

      <div class="form-inputs">
        <%= f.input :login, required: false, autofocus: true, label: "Email/Username" %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Send reset instructions" %>
      </div>
    <% end %>
    <%= render "users/shared/links" %>

  </div>

