<table>
<tr>
<td style="padding-top: 5%;">
<p>
  <% if Movie.find(Review.find(params[:id]).movie_id).detailed_poster_link %>
    <%= image_tag(Movie.find(Review.find(params[:id]).movie_id).detailed_poster_link) %>
  <% end %>
</p>
</td>
<td style="padding-left: 5%;padding-top:5%;">
<h1><%= Movie.find(Review.find(params[:id]).movie_id).title %></h1> 
<h2><%= Movie.find(Review.find(params[:id]).movie_id).year %></h2>
</td>
</tr>
</table>

<%= simple_form_for [current_user, review], :url => { :action => 'update'}, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.hidden_field :movie_id %>

  <div class='rating-slider-box' >
    <label>Rating</label>
    <%= f.range_field :rating, label: 'Rating', :in => 1..10, :step => '1', :class => 'rating-slider' %>
    <pre>1    2     3    4     5    6     7    8     9   10</pre>
  </div>

  <%= f.input :comment %>
  <%= f.input :private, label: "Visibility",
  as: :radio_buttons, 
  collection: [["private", review.private], ["public", !review.private]],
  checked: true %>
  
  <%= f.button :submit, :class => 'btn btn-primary' %> 
  <%= link_to "Cancel", user_reviews_path(current_user.username), :class => 'btn btn-default' %>
<% end %>
