<!DOCTYPE html>
<html>
<head>
  <title>MDS</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <div class="row">
      <div class="col-sm-4" id="left-nav">
       <%= render_navigation :expand_all => true%>
      </div>
      <div class="col-sm-4" id="middle-nav">
        <ul class="nav nav-tabs">
          <li> 
            <%= form_tag search_path, method: 'get', :class => "navbar-form navbar-left" do %>
              <%= text_field_tag :q , params[:q] , placeholder: "Movies...", class: "form-control form-group" %>
              <%= submit_tag 'Search', :name => nil, :class => "btn btn-default" %>
            <% end %>
          </li>
        </ul>
      </div>
      <div class="col-sm-4" id="right-nav">
        <ul class="nav nav-tabs">
          <li style="float: right;">
            <% unless user_signed_in? %>
            <ul class="nav">
              <li class="dropdown open">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Sign in <b class="caret"></b></a>   
                <div class="dropdown-menu" style="padding: 15px; margin-left: -120%;">
                  <form>
                    <input id="login-username" type="text" placeholder="Username/E-mail">
                    <input id="login-password" type="password" placeholder="Password">
                    <button class="btn btn-sm btn-primary btn-block" type="submit" >Sign in</button>
                  </form>
                </div>
              </li>
            </ul>
            <%end%>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-9"><%= yield %></div>
    </div>
  </div>

</body>
</html>
